header{
    background-color:teal;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo{
    text-align:center;
    font-size:30px;
    color:white;
}
